# Ігнорувати node_modules
node_modules/

# Ігнорувати файли середовища
.env

# Ігнорувати лог-файли
*.log

# Ігнорувати папку зі збіркою (якщо є)
dist/
build/

# Ігнорувати IDE/редактори
.vscode/
.idea/

# Ігнорувати npm та yarn lock-файли
package-lock.json
yarn.lock

# Ігнорувати тимчасові файли
*.tmp
*.temp

# Ігнорувати папку зі збереженими даними MongoDB (якщо використовуєте локальну базу)
data/db/

# Ігнорувати папку з кешем
.cache/